---
const {
  enterprise,
  time,
  role,
  jobdescripcion,
  additional,
} = Astro.props;
---

<article
  style={{
    backgroundImage: "radial-gradient(circle, #6c6c6c1d 0%, transparent 100%)",
  }}
  class="border border-zinc-700 bg-zinc-900 bg-opacity-40 p-8 rounded-lg flex flex-col md:flex-row flex-wrap justify-between mb-7 shadow-xl"
>
  <!-- Header -->
  <div class="flex-1">
    <h3 class="text-sm sm:text-l font-semibold inline-block whitespace-nowrap">{enterprise}</h3>
    <h3 class="text-sm sm:text-l font-semibold inline-block whitespace-nowrap">| {role} |</h3>
    <h3 class="text-sm sm:text-l font-semibold inline-block whitespace-nowrap">{time}</h3>
  </div>
<div>
    <p class="text-zinc-400 text-sm text-pretty mb-4 text-justify">{jobdescripcion}</p>
    <p class="text-zinc-400 text-sm text-pretty mb-4 text-justify"><strong>{additional}</strong></p>
    
</div>
</article>  
<style>
  article :global(.flex.gap-4) {
    gap: 1rem;
    margin-top: 0;
  }

  article :global(.bg-gray-800) {
    background-color: transparent;
    padding: 0;
  }
</style>
