---
const {
  projectTitle,
  projectDescription,
  projectLink,
  image,
  showContributions,
} = Astro.props;
import ArrowLink from "@assets/arrow-link.astro";
---

<article
  style={{
    backgroundImage: "radial-gradient(circle, #6c6c6c1d 0%, transparent 100%)",
  }}
  class="border border-zinc-700 bg-zinc-900 bg-opacity-40 p-8 rounded-lg flex flex-col md:flex-row flex-wrap justify-between mb-7 shadow-xl"
>
  <!-- Left Section: Description -->
  <div class="flex-1 md:pr-6">
    <a
      class="text-l inline-flex items-center gap-2 hover:opacity-60 transition mb-2 text-justify"
      target="_blank"
      href={projectLink}
    >
      <h3 class="text-l font-semibold inline-block">{projectTitle}</h3>
      <span class="text-zinc-400">
        {
          projectLink && (
            <ArrowLink size="w-5 h-5" />
          )
        }
        
      </span>
    </a>

    <p class="text-zinc-400 text-sm text-pretty mb-4 text-justify">{projectDescription}</p>

    <!-- Technologies -->
    <div class="flex items-center gap-3">
      <slot />
    </div>
  </div>

  <!-- Conditional Image Section -->
  {
    image && (
      <div class="md:w-52 md:ml-6 mb-5 md:mb-0">
        <img
          class="w-full shadow-xl rounded-lg"
          src={image}
          alt={`${projectTitle} image`}
        />
      </div>
    )
  }

  <!-- Bottom Section: Contributions -->
  {
    showContributions && (
      <div class="w-full mt-6 flex justify-center">
        <div class="border border-zinc-700/50 bg-zinc-800/20 rounded-lg p-4 align-middle">
          <slot name="contributions" />
          <p class="text-zinc-400 text-xs mt-2">
            * In these two years all my contributions were to the private
            repository, I attach the number of contributions consuming the
            GitHub API.
          </p>
        </div>
      </div>
    )
  }
</article>

<style>
  article :global(.flex.gap-4) {
    gap: 1rem;
    margin-top: 0;
  }

  article :global(.bg-gray-800) {
    background-color: transparent;
    padding: 0;
  }
</style>
